html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main .card--work-header .card--work-body, main .card--selfcare-header .card--work-body, main .card--social-header .card--work-body, main .card--exercise-header .card--work-body, main .card--study-header .card--work-body, main .card--play-header .card--work-body, main .card--work-header, main .card--selfcare-header, main .card--social-header, main .card--exercise-header, main .card--study-header, main .card--play-header, main .sect--user .div--user-name, main .sect--user {
  border-radius: 20px;
}

main .sect--user .order_by button, main {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  color: hsl(236, 100%, 87%);
}

main .card--selfcare-header .selfcare-ico, main .card--social-header .social-ico, main .card--exercise-header .exercise-ico, main .card--study-header .study-ico, main .card--play-header .play-ico, main .card--work-header .work-ico, main .card--selfcare-header .work-ico, main .card--social-header .work-ico, main .card--exercise-header .work-ico, main .card--study-header .work-ico, main .card--play-header .work-ico {
  display: inline-block;
  align-self: flex-end;
  margin-right: 20px;
}

body {
  background-color: hsl(226, 43%, 10%);
}

main {
  width: 100vw;
  max-width: 375px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, auto);
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: hsl(226, 43%, 10%);
  margin: auto;
}
main .sect--user {
  width: 100%;
  height: 190px;
  background-color: hsl(235, 46%, 20%);
}
main .sect--user .div--user-name {
  width: 100%;
  height: 120px;
  background-color: hsl(246, 80%, 60%);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px;
}
main .sect--user .div--user-name span {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../images/image-jeremy.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  border: 2px solid white;
}
main .sect--user .div--user-name div :nth-child(1), main .sect--user .div--user-name div .card--work-header .card--work-body :nth-child(2), main .sect--user .div--user-name div .card--selfcare-header .card--work-body :nth-child(2), main .sect--user .div--user-name div .card--social-header .card--work-body :nth-child(2), main .sect--user .div--user-name div .card--exercise-header .card--work-body :nth-child(2), main .sect--user .div--user-name div .card--study-header .card--work-body :nth-child(2), main .sect--user .div--user-name div .card--play-header .card--work-body :nth-child(2), main .card--work-header .card--work-body .sect--user .div--user-name div :nth-child(2), main .card--selfcare-header .card--work-body .sect--user .div--user-name div :nth-child(2), main .card--social-header .card--work-body .sect--user .div--user-name div :nth-child(2), main .card--exercise-header .card--work-body .sect--user .div--user-name div :nth-child(2), main .card--study-header .card--work-body .sect--user .div--user-name div :nth-child(2), main .card--play-header .card--work-body .sect--user .div--user-name div :nth-child(2) {
  font-size: 1.3rem;
}
main .sect--user .div--user-name div :nth-child(2) {
  color: white;
  font-weight: 300;
}
main .sect--user .order_by {
  width: 100%;
  height: calc(100% - 120px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main .sect--user .order_by button {
  background: none;
  outline: none;
  border: none;
  font-size: 1.5rem;
}
main .sect--user .order_by button:hover {
  cursor: pointer;
  color: white;
}
main .sect--user .order_by .menu-active {
  color: white;
}
main .card--work-header, main .card--selfcare-header, main .card--social-header, main .card--exercise-header, main .card--study-header, main .card--play-header {
  width: 100%;
  height: 150px;
  background-color: hsl(15, 100%, 70%);
  display: flex;
  flex-direction: column;
  justify-content: right;
}
main .card--work-header .work-ico, main .card--selfcare-header .work-ico, main .card--social-header .work-ico, main .card--exercise-header .work-ico, main .card--study-header .work-ico, main .card--play-header .work-ico {
  display: block;
  width: 90px;
  height: 65px;
  background-image: url("../images/icon-work.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main .card--work-header .card--work-body, main .card--selfcare-header .card--work-body, main .card--social-header .card--work-body, main .card--exercise-header .card--work-body, main .card--study-header .card--work-body, main .card--play-header .card--work-body {
  width: 100%;
  height: 120px;
  background-color: hsl(235, 46%, 20%);
  padding: 20px;
}
main .card--work-header .card--work-body :nth-child(1), main .card--selfcare-header .card--work-body :nth-child(1), main .card--social-header .card--work-body :nth-child(1), main .card--exercise-header .card--work-body :nth-child(1), main .card--study-header .card--work-body :nth-child(1), main .card--play-header .card--work-body :nth-child(1), main .card--work-header .card--work-body :nth-child(2), main .card--selfcare-header .card--work-body :nth-child(2), main .card--social-header .card--work-body :nth-child(2), main .card--exercise-header .card--work-body :nth-child(2), main .card--study-header .card--work-body :nth-child(2), main .card--play-header .card--work-body :nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-bottom: 5px;
}
main .card--work-header .card--work-body :nth-child(1) p, main .card--selfcare-header .card--work-body :nth-child(1) p, main .card--social-header .card--work-body :nth-child(1) p, main .card--exercise-header .card--work-body :nth-child(1) p, main .card--study-header .card--work-body :nth-child(1) p, main .card--play-header .card--work-body :nth-child(1) p, main .card--work-header .card--work-body :nth-child(2) p, main .card--selfcare-header .card--work-body :nth-child(2) p, main .card--social-header .card--work-body :nth-child(2) p, main .card--exercise-header .card--work-body :nth-child(2) p, main .card--study-header .card--work-body :nth-child(2) p, main .card--play-header .card--work-body :nth-child(2) p {
  font-weight: 400;
  font-size: 1.4rem;
}
main .card--work-header .card--work-body :nth-child(1) .ico--elipsis, main .card--selfcare-header .card--work-body :nth-child(1) .ico--elipsis, main .card--social-header .card--work-body :nth-child(1) .ico--elipsis, main .card--exercise-header .card--work-body :nth-child(1) .ico--elipsis, main .card--study-header .card--work-body :nth-child(1) .ico--elipsis, main .card--play-header .card--work-body :nth-child(1) .ico--elipsis, main .card--work-header .card--work-body :nth-child(2) .ico--elipsis, main .card--selfcare-header .card--work-body :nth-child(2) .ico--elipsis, main .card--social-header .card--work-body :nth-child(2) .ico--elipsis, main .card--exercise-header .card--work-body :nth-child(2) .ico--elipsis, main .card--study-header .card--work-body :nth-child(2) .ico--elipsis, main .card--play-header .card--work-body :nth-child(2) .ico--elipsis {
  display: block;
  width: 20px;
  height: 5px;
  background-image: url("../images/icon-ellipsis.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
}
main .card--work-header .card--work-body :nth-child(1) .ico--elipsis:hover, main .card--selfcare-header .card--work-body :nth-child(1) .ico--elipsis:hover, main .card--social-header .card--work-body :nth-child(1) .ico--elipsis:hover, main .card--exercise-header .card--work-body :nth-child(1) .ico--elipsis:hover, main .card--study-header .card--work-body :nth-child(1) .ico--elipsis:hover, main .card--play-header .card--work-body :nth-child(1) .ico--elipsis:hover, main .card--work-header .card--work-body :nth-child(2) .ico--elipsis:hover, main .card--selfcare-header .card--work-body :nth-child(2) .ico--elipsis:hover, main .card--social-header .card--work-body :nth-child(2) .ico--elipsis:hover, main .card--exercise-header .card--work-body :nth-child(2) .ico--elipsis:hover, main .card--study-header .card--work-body :nth-child(2) .ico--elipsis:hover, main .card--play-header .card--work-body :nth-child(2) .ico--elipsis:hover {
  cursor: pointer;
}
main .card--work-header .card--work-body :nth-child(2) .hours, main .card--selfcare-header .card--work-body :nth-child(2) .hours, main .card--social-header .card--work-body :nth-child(2) .hours, main .card--exercise-header .card--work-body :nth-child(2) .hours, main .card--study-header .card--work-body :nth-child(2) .hours, main .card--play-header .card--work-body :nth-child(2) .hours {
  font-size: 3rem;
  font-weight: 300;
}
main .card--work-header .card--work-body :nth-child(2) .last--time, main .card--selfcare-header .card--work-body :nth-child(2) .last--time, main .card--social-header .card--work-body :nth-child(2) .last--time, main .card--exercise-header .card--work-body :nth-child(2) .last--time, main .card--study-header .card--work-body :nth-child(2) .last--time, main .card--play-header .card--work-body :nth-child(2) .last--time {
  color: hsl(236, 100%, 87%);
  font-weight: 300;
}
main .card--work-header .card--work-body:hover, main .card--selfcare-header .card--work-body:hover, main .card--social-header .card--work-body:hover, main .card--exercise-header .card--work-body:hover, main .card--study-header .card--work-body:hover, main .card--play-header .card--work-body:hover {
  background-color: hsl(235, 42%, 26%);
}
main .card--play-header {
  background-color: hsl(195, 74%, 62%);
}
main .card--play-header .play-ico {
  display: block;
  width: 90px;
  height: 65px;
  background-image: url("../images/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main .card--study-header {
  background-color: hsl(348, 100%, 68%);
}
main .card--study-header .study-ico {
  display: block;
  width: 90px;
  height: 65px;
  background-image: url("../images/icon-study.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main .card--exercise-header {
  background-color: hsl(145, 58%, 55%);
}
main .card--exercise-header .exercise-ico {
  display: block;
  width: 90px;
  height: 65px;
  background-image: url("../images/icon-exercise.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main .card--social-header {
  background-color: hsl(264, 64%, 52%);
}
main .card--social-header .social-ico {
  display: block;
  width: 90px;
  height: 65px;
  background-image: url("../images/icon-social.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main .card--selfcare-header {
  background-color: hsl(43, 84%, 65%);
}
main .card--selfcare-header .selfcare-ico {
  display: block;
  width: 90px;
  height: 65px;
  background-image: url("../images/icon-self-care.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 1440px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  body main {
    max-width: 1200px;
    height: 550px;
    padding: 0;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
  }
  body main .sect--user {
    width: 250px;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
  }
  body main .sect--user .div--user-name {
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
  }
  body main .sect--user .div--user-name :nth-child(2) {
    color: white;
    font-weight: 300;
  }
  body main .sect--user .div--user-name :nth-child(2) :nth-child(2) {
    color: white;
    font-weight: 300;
    font-size: 3.5rem;
  }
  body main .sect--user .order_by {
    height: calc(100% - 300px);
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
  }
  body main .card--work-header, body main .card--play-header, body main .card--study-header, body main .card--exercise-header, body main .card--social-header, body main .card--selfcare-header {
    height: 100%;
    width: 250px;
  }
  body main .card--work-header .card--work-body, body main .card--play-header .card--work-body, body main .card--study-header .card--work-body, body main .card--exercise-header .card--work-body, body main .card--social-header .card--work-body, body main .card--selfcare-header .card--work-body {
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  body main .card--work-header .card--work-body :nth-child(2), body main .card--play-header .card--work-body :nth-child(2), body main .card--study-header .card--work-body :nth-child(2), body main .card--exercise-header .card--work-body :nth-child(2), body main .card--social-header .card--work-body :nth-child(2), body main .card--selfcare-header .card--work-body :nth-child(2) {
    flex-direction: column;
    align-items: flex-start;
  }
  body main .card--work-header .card--work-body :nth-child(2) .hours, body main .card--play-header .card--work-body :nth-child(2) .hours, body main .card--study-header .card--work-body :nth-child(2) .hours, body main .card--exercise-header .card--work-body :nth-child(2) .hours, body main .card--social-header .card--work-body :nth-child(2) .hours, body main .card--selfcare-header .card--work-body :nth-child(2) .hours {
    font-size: 5rem;
    font-weight: 300;
  }
}/*# sourceMappingURL=main.css.map */